<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/rocket/style/account.css">
    <title>Account</title>
</head>

<body>
    <div class="container">
        <div class="main">
            <h1>Would you like to use our Face Detection to log into your account? </h1>
            <p>in your account you can use vouchers, customize main food course,
                getting offers and much much more..!</p>
        </div>
        <div class="cards">
            <a href="/rocket/login" class="card">
                <img src="../../static/rocket/images/gifs/ai.gif" alt="">
                <h2>Login using
                    Face Recognition (AI)</h2>
            </a>
            <a href="/rocket/reservation" class="card">
                <img src="../../static/rocket/images/random/guest.png" alt="">
                <h2>Continue as guest</h2>
            </a>
        </div>
        <a href="/rocket/kickoff" class="cancel"><button>Cancel</button></a>
    </div>

</body>

</html>