<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/rocket/style/account.css">
    <title>Here or out</title>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TZFC6NF1QD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TZFC6NF1QD');
</script>
</head>

<body>
    <div class="container">
        <div class="main">
            <h1>So far, so good..!</h1>
            <p>Would you like to stay or just passing by?</p>
        </div>
        <div class="cards">
            <a href="/rocket/table-reservation" class="card">
                <img src="../../static/rocket/images/ui images/_/bro.png" style="object-fit: contain;" alt="">
                <h2>Eat in</h2>
            </a>
            <a href="/rocket/phone-num" class="card">
                <img src="../../static/rocket/images/ui images/_/rafiki.png" style="object-fit: contain;" alt="">
                <h2>Take away</h2>
            </a>
        </div>
        <a href="/rocket/kickoff" class="cancel"><button>Cancel</button></a>
    </div>

</body>

</html>