<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/rocket/style/landing.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Rocket Café</title>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TZFC6NF1QD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TZFC6NF1QD');
</script>
</head>

<body>
    <header>

        <nav>
            <div class="logo">
                <img src="../../static/rocket/images/logos/1-removebg-preview.png" class="logo" />
            </div>
            <ul>
                <a href="#">
                    <li>Home</li>
                </a>
                <a href="#">
                    <li>Menu</li>
                </a>
                <a href="#">
                    <li>Gift card</li>
                </a>
                <a href="#">
                    <button>GET FREE VOUCHER</button>
                </a>

            </ul>
            <li class="humberger-menu">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="8" viewBox="0 0 24 8" fill="none">
                    <path d="M24 0H0V2H24V0Z" fill="#1782FF"/>
                    <path d="M24 6H8V8H24V6Z" fill="#1782FF"/>
                </svg>
            </li>
        </nav>
    </header>
    <section class="main">
        <p>Join the <span class="rocket">Rocket</span> Revolution for a <span class="free">FREE </span>Culinary Journey!</p>
        <button class="voucher">GET FREE VOUCHER</button>
        <h1>Rocket Café <br><span class="where"> - Where Flavor Soars - </span></h1>
        <img src="../../static/rocket/images/ui images/Img Coffee.png" alt="" class="img-coffe">
    </section>
    <div class="corner"></div>
<div class="corner2"></div>
</body>

</html>