<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="rocket/style/kickof.css" />
    <title>Rocket Café | Start Now</title>
    <!-- Google tag (gtag.js) -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TZFC6NF1QD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TZFC6NF1QD');
</script>
  </head>
  <body>
    <div class="container">
      <div class="start">
        <h1>Rocket Café</h1>
        <img src="rocket/images/ui images/Rectangle 8.png" />
        <button>Start Now</button>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        const button = document.querySelector('button');
        const img = document.querySelector('img');
        button.addEventListener('click', function()
        {
            document.querySelector('img').src = "rocket/images/gifs/flying_rocket.gif";
            setTimeout(function () {
                window.location.href = "/menu";
            }, 2000);
        })
    </script>
  </body>
</html>
